{{#partial "contenidoPaso" }}
    <div>
        Ingrese el color primario <input name='colorPrimario' type="color"/><br>
        Ingrese el color secundario <input name='colorSecundario' type="color"/>
        <input type="checkbox" name="saltearSecundario" value="true"> No usar color secundario.
    </div>
{{/partial}}

{{> wizardPrenda/WizardPrendas.hbs}}