{{#partial "contenidoPagina" }}
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-C++cugH8+Uf86JbNOnQoBweHHAe/wVKN/mb0lTybu/NZ9sEYbd+BbbYtNpWYAsNP" crossorigin="anonymous">

<form name="login" method="post">

    <div class="container w-25 d-block">
    <div class="list-group shadow p-3 mb-5 bg-white rounded" align='center'>

        <a class="list-group-item list-group-item-action active">
            Login
        </a>
        <a class="list-group-item list-group-item">
            <label>Username</label>
            <input type="username" name="usuario" placeholder=" Username">
        </a>
        <a class="list-group-item list-group-item">
            <p><label>Contraseña:</label>
            <input type="password" name="password" placeholder=" Password"></p>
        </a>
        {{#if error}}
        <b class="list-group-item" style="font-size: 12px; color: red;">
            {{error}}
        </b>
        {{/if}}
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
        <a class="list-group-item list-group-item">
            <input type="submit" value="Login"></a>

     </div>
    </div>
</form>

{{/partial}}

{{> navbar.hbs}}
